input[type="radio"] + label {
  padding-left: 20px;
  padding-right: 30px; }
  input[type="radio"] + label:before {
    right: 0;
    left: auto; }
  input[type="radio"] + label:after {
    right: 2px;
    left: auto; }

.pagination > li > a, .pagination > li > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  margin-right: 0; }

.camera_target {
  text-align: right; }

.camera_wrap .camera_thumbs_cont li img {
  float: left; }

input[type="text"] {
  padding-left: 10px;
  padding-right: 25px; }

input[name*="quantity"] {
  padding-left: 5px;
  padding-right: 5px; }

.banners > div .banner-box:before {
  -moz-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -ms-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -o-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -webkit-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0); }
.banners > div .banner-box:hover:before {
  -moz-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -ms-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -o-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -webkit-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0); }

.banners > div[class*="banner-top-"] .s-desc {
  left: 5px; }

header .megamenu ul.sf-menu {
  padding-right: 30px;
  padding-left: 150px; }
  @media (max-width: 991px) and (min-width: 768px) {
    header .megamenu ul.sf-menu {
      padding-right: 20px;
      padding-left: 120px; } }

.single-category .nav-tabs > li + li {
  margin-left: 0;
  margin-right: 20px; }
  @media (max-width: 480px) {
    .single-category .nav-tabs > li + li {
      margin-right: 6px; } }

.newsletter button {
  right: auto;
  left: 9px; }

.product-options .checkbox label {
  text-align: right;
  padding: 5px 45px 5px 5px; }
  .product-options .checkbox label:before, .product-options .checkbox label:after {
    right: 13px;
    left: auto; }

div.required .control-label:after {
  margin-left: 0;
  margin-right: 5px; }

.product-list .product-thumb .aside .product-btn {
  float: right; }

[data-clear] + .product-layout {
  clear: right; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }

.pull-right {
  float: left !important; }

.pull-left {
  float: right !important; }

.header-top .button-login {
  margin-left: 0;
  margin-right: 10px; }
  .header-top .button-login i {
    margin-right: 0;
    margin-left: 15px; }
    @media (max-width: 991px) and (min-width: 768px) {
      .header-top .button-login i {
        margin-left: 0; } }

@media (max-width: 767px) {
  .cart > button i {
    float: right; } }
.discount {
  direction: ltr; }

.product_model.model > p {
  display: inline-block; }

@media (max-width: 767px) {
  .nav-left {
    float: none !important; } }
.nav-left li {
  float: right; }
  @media (max-width: 767px) {
    .nav-left li {
      float: none; } }
  .nav-left li + li {
    margin-left: 0;
    margin-right: 40px; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .nav-left li + li {
        margin-right: 10px; } }
    @media (max-width: 991px) and (min-width: 768px) {
      .nav-left li + li {
        margin-right: 8px; } }
    @media (max-width: 767px) {
      .nav-left li + li {
        margin-right: 10px; } }

.alert {
  padding: 18px 75px 18px 40px; }
  .alert i {
    right: 0;
    left: auto; }
  .alert button.close {
    left: 15px;
    right: auto; }

.sbHolder {
  text-align: right; }

.sbToggle {
  left: 0;
  right: auto; }

.sbSelector {
  right: 0;
  left: 30px; }

.product-filter label {
  margin: 0 10px 0 5px; }

.product-filter_elem {
  float: right !important; }
  .product-filter_elem.pull-right {
    float: left !important; }

.cart .toggle_cont > li:first-child {
  text-align: right; }

.article-sub-title {
  display: block; }
  .article-sub-title:before, .article-sub-title:after {
    display: table;
    content: "";
    line-height: 0; }
  .article-sub-title:after {
    clear: both; }
  .article-sub-title > span {
    position: relative;
    display: inline-block; }
    .article-sub-title > span:before {
      margin-right: 0;
      margin-left: 5px; }
    .article-sub-title > span + span {
      margin-left: 0;
      margin-right: 5px; }

.common-home .article-sub-title > span:before {
  position: relative; }

.article-description ul li, .article-description ol li {
  padding-left: 0;
  padding-right: 50px; }
  .article-description ul li:before, .article-description ol li:before {
    right: 0;
    left: auto; }

.option-checkbox .checkbox {
  float: none; }

.mfilter-search.mfilter-search-button input#mfilter-opts-search {
  padding-right: 10px;
  padding-left: 37px; }

.mfilter-search i#mfilter-opts-search_button {
  right: auto;
  left: 0; }

/*header:before {
  left: auto;
  margin-left: 0;
  right: 50%;
  margin-right: -60px;
  -moz-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -ms-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -o-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -webkit-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  transform: translateX(-50%) translateY(-50%) skewX(23deg); }*/
  @media (min-width: 992px) and (max-width: 1199px) {
    /*header:before {
      margin-right: -155px; }*/ }
  @media (min-width: 768px) and (max-width: 991px) {
    /*header:before {
      margin-right: -105px; }*/ }
header .logo {
  float: right; }
  @media (max-width: 767px) {
    header .logo {
      float: none;
      text-align: center; } }

.top-block {
  text-align: right; }

header .box-cart {
  right: auto;
  left: 15px; }

.social-list li {
  float: right; }
  .social-list li + li {
    margin-left: 0;
    margin-right: 17px; }

.btn-wishlist {
  margin-left: 0;
  margin-right: 62px; }
  .btn-wishlist:before {
    right: auto;
    left: 100%;
    padding-right: 0;
    padding-left: 14px; }

.box-language .btn-group .toggle:before, .box-currency .btn-group .toggle:before {
  float: left;
  margin-left: 0;
  margin-right: 1px; }
.box-language .toggle_cont, .box-currency .toggle_cont {
  left: 0;
  right: auto; }

.cart .toggle_cont {
  left: 0;
  right: auto; }

.mfilter-heading-text > span {
  padding-left: 0;
  padding-right: 18px; }

.article-comment .author {
  float: right; }
.article-comment .reply-message {
  float: left; }

.reply-cancel {
  text-align: left; }

.product-gallery {
  direction: ltr; }

.pagination > li + li {
  margin-left: 0;
  margin-right: 41px; }

.contact_page .icon {
  padding-left: 0;
  padding-right: 70px; }
  .contact_page .icon:before {
    right: 0;
    left: auto; }

.toggle_cont__right {
  right: 0;
  left: auto; }

.testimonials .owl-nav {
  direction: ltr; }

.human_info .thumbnail {
  float: right;
  margin-left: 20px;
  margin-right: 0; }
.human_info p {
  text-indent: 0;
  direction: rlt; }

/*------------------------------------*/
.header-top .btn-wishlist {
  float: left;
  margin-left: 0;
  margin-right: 21px; }
.header-top .nav {
  float: left; }

.toggle_cont > li > a i {
  margin-right: 0;
  margin-left: 8px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .toggle_cont > li > a i {
      margin-left: 2px; } }

.box-language .toggle_cont, .box-currency .toggle_cont {
  text-align: right; }

.cart .price-cart {
  text-align: right; }

.sf-menu > li {
  float: right; }
  .sf-menu > li + li {
    margin-left: auto;
    margin-right: 35px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .sf-menu > li + li {
        margin-right: 18px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .sf-menu > li + li {
        margin-right: 9px; } }
  .sf-menu > li .sf-with-ul:after {
    margin-left: auto;
    margin-right: 5px;
    float: left; }
.sf-menu .sf-mega {
  text-align: right; }

.swiper-slide .desc {
  left: 6%; }
  .swiper-slide .desc p {
    padding-right: 0;
    padding-left: 20%; }
  @media (max-width: 991px) and (min-width: 768px) {
    .swiper-slide .desc {
      top: 10%; }
      .swiper-slide .desc p {
        padding-right: 0;
        padding-left: 0; } }
  @media (max-width: 767px) {
    .swiper-slide .desc {
      top: 10%; }
      .swiper-slide .desc p {
        padding-right: 0;
        padding-left: 0; } }
  @media (max-width: 480px) {
    .swiper-slide .desc {
      top: 10%; } }

.mobile-carousel.owl-carousel .owl-item .product-thumb {
  text-align: right; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  right: auto;
  left: 24px; }

@media (min-width: 768px) {
  aside .megamenu .submenu_title + ul, .column-left .megamenu .submenu_title + ul, .col-lg-3 .megamenu .submenu_title + ul {
    margin-left: 0;
    margin-right: -15px;
    left: auto;
    right: 100%; } }
/*.block-slider:before {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -149px;
  -moz-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -ms-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -o-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -webkit-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  transform: translateX(-50%) translateY(-50%) skewX(23deg); }*/
/*  @media (max-width: 1199px) and (min-width: 992px) {
    .block-slider:before {
      margin-right: -245px; } }*/

.swiper-container:before {
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  margin-right: 0;
  margin-left: -100px;
  right: auto;
  left: 0; }

.top-block .container > .row .col-lg-10 {
  padding-right: 15px;
  padding-left: 45px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .top-block .container > .row .col-lg-10 + .col-lg-10 {
      padding-right: 15px;
      padding-left: 70px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .top-block .container > .row .col-lg-10 + .col-lg-10 {
      padding-right: 15px;
      padding-left: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .top-block .container > .row .col-lg-2 {
    padding-left: 0;
    padding-right: 15px; } }
.search input[type="text"] {
  float: right;
  padding-left: 5px;
  padding-right: 22px; }
.search button {
  text-align: right; }

.social-block {
  float: left; }

.header-top-block .html-module {
  margin-left: 0;
  margin-right: 20px; }

.top-block .container > .row .search {
  float: left;
  margin-left: 38px;
  margin-right: 5px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .top-block .container > .row .search {
      margin-left: 0; } }

.stuck-menu .html-module {
  left: auto;
  right: 15px; }

#livesearch_search_results li img {
  float: right;
  margin-right: 0;
  margin-left: 10px; }

.ajax-overlay .product-options .ajax-overlay_close {
  right: auto;
  left: 10px; }

.fancybox-close {
  right: auto;
  left: -18px; }

.product-btn i {
  float: right;
  margin-right: 0;
  margin-left: 3px; }

.option-color .radio {
  float: right; }
  .option-color .radio input[type="radio"] + label img {
    left: auto;
    right: 5px; }

.product-options .control-label {
  text-align: right; }

.option-radio .radio {
  float: right; }
  .option-radio .radio + .radio {
    margin-left: 0;
    margin-right: 10px; }
  .option-radio .radio input[type="radio"] + label {
    padding-left: 0;
    padding-right: 19px; }

.quantity .counter {
  right: auto;
  left: 0; }

.account-account h3 i {
  margin-right: 0;
  margin-left: 16px;
  float: right; }

.manufacturer-content div a:before, #content ul.list-unstyled a:before {
  float: right;
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.toggle_cont {
  text-align: right; }

.html-module.brands > .content > ul {
  padding-right: 0; }

.cart-button .btn-icon + .btn-icon {
  margin-left: 0;
  margin-right: 9px; }
  @media (max-width: 991px) and (min-width: 768px) {
    .cart-button .btn-icon + .btn-icon {
      margin-right: 1px; } }

/*.big-banners-block:before {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -240px;
  -moz-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -ms-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -o-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  -webkit-transform: translateX(-50%) translateY(-50%) skewX(23deg);
  transform: translateX(-50%) translateY(-50%) skewX(23deg); }*/
/*  @media (min-width: 768px) and (max-width: 991px) {
    .big-banners-block:before {
      margin-right: -320px; } }*/

@media (min-width: 768px) {
  .html-module.home-links .third a {
    -moz-transform: translateX(7%) skewX(23deg);
    -ms-transform: translateX(7%) skewX(23deg);
    -o-transform: translateX(7%) skewX(23deg);
    -webkit-transform: translateX(7%) skewX(23deg);
    transform: translateX(7%) skewX(23deg); } }
.html-module.home-links .third a:before {
  -moz-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -ms-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -o-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  -webkit-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
  transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0); }
.html-module.home-links .third a:hover:before {
  -moz-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -ms-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -o-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  -webkit-transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
  transform: scale3d(1.9, 1.9, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0); }
.html-module.home-links .third img {
  right: auto;
  left: 21%; }
.html-module.home-links .third .descr {
  left: auto;
  right: 14px; }

.product-btn:first-child {
  margin-right: 0;
  margin-left: 10px; }

.article-description {
  padding-right: 0;
  padding-left: 5%; }

.html-module.store p {
  padding-right: 0;
  padding-left: 6%; }

.product-countdown {
  left: auto;
  right: 10px; }
  .product-countdown li {
    float: right; }

.product-rating-status .review-link {
  margin-left: 0;
  margin-right: 10px; }

@media (min-width: 768px) {
  .single-category .box-heading {
    float: right; } }
.single-category .nav-tabs {
  float: left; }

.bottom .single-category .nav-tabs {
  float: right; }

.bottom .single-category .image {
  float: right; }
.bottom .single-category .caption {
  text-align: right;
  padding-left: 0;
  padding-right: 33px; }

.common-home .article-sub-title span {
  float: right; }
  .common-home .article-sub-title span + span.article-comments {
    float: left; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .common-home .article-sub-title span + span.article-comments {
        float: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .common-home .article-sub-title span + span.article-comments {
        float: left; } }
    @media (max-width: 480px) {
      .common-home .article-sub-title span + span.article-comments {
        float: none; } }
  @media (max-width: 480px) {
    .common-home .article-sub-title span {
      float: none; } }

footer .box .box-heading h3 {
  text-align: right; }

footer h1 {
  text-align: right; }

footer .megamenu {
  text-align: right; }
  footer .megamenu ul.sf-menu > li {
    text-align: right; }

.instagram {
  padding-right: 0;
  padding-left: 25px; }

@media (max-width: 1199px) {
  .instagram {
    padding-left: 0; } }
@media (max-width: 767px) {
  header .nav.toggle-wrap > .toggle_cont {
    text-align: right; }

  .box-language, .box-currency {
    float: left; }

  footer .box .box-heading h3 {
    text-align: center; }

  .box-language + .box-currency {
    margin-right: 0;
    margin-left: 3px; }

  .search button {
    right: auto;
    left: 0; }

  .cart .toggle_cont {
    left: auto;
    right: 0; }

  .banners > div {
    text-align: right; }

  .pagination > li + li {
    margin-left: 0;
    margin-right: 15px; }

  .box-subcat li .image {
    float: right;
    padding-right: 0;
    padding-left: 15px; }
  .box-subcat li .name {
    left: auto;
    right: 30%; }

  header .header-btn {
    margin-right: 0; }
    header .header-btn:before {
      left: auto;
      right: auto;
      margin-right: 0;
      margin-left: 5px; }
    header .header-btn + .header-btn {
      margin-right: 0; }

  .rd-mobilepanel_title {
    left: 50px;
    right: 90px; }

  aside .box .box-heading:after, .column-left .box .box-heading:after {
    right: auto;
    left: 0; }

  .single-category .nav-tabs {
    float: none; }

  .mobile-carousel.owl-carousel .owl-item .product-thumb {
    text-align: center; }

  .nav-tabs > li > a {
    padding: 5px; }

  .rd-mobilemenu_submenu {
    padding-right: 0; }
    .rd-mobilemenu_submenu .submenu_title + ul,
    .rd-mobilemenu_submenu .rd-mobilemenu_ul {
      padding-right: 0; } }
