<h5><span><?php echo $text_service; ?></span></h5>
<ul class="list-unstyled">
	<li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
	<li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
	<li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
</ul>