<h1 class="logo">
	<?php if ($logo) { ?>
	<a href="<?php echo $home; ?>">
		<img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive">
	</a>
	<?php } else { ?>
	<a href="<?php echo $home; ?>">
		<?php echo $name; ?>
	</a>
	<?php } ?>
</h1>