a:hover {
  color: #ffa427; }

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li > a.active {
  color: #ffa427; }
.sf-menu > li > a:before {
  background: #ffa427; }

/*.block-slider:before {
  background: #dbcc4c; }*/

aside .megamenu .submenu_title > a:hover, aside .megamenu .submenu_title > a:focus, aside .megamenu .submenu_title > a:active, aside .megamenu .submenu_title > a.active, .column-left .megamenu .submenu_title > a:hover, .column-left .megamenu .submenu_title > a:focus, .column-left .megamenu .submenu_title > a:active, .column-left .megamenu .submenu_title > a.active, .col-lg-3 .megamenu .submenu_title > a:hover, .col-lg-3 .megamenu .submenu_title > a:focus, .col-lg-3 .megamenu .submenu_title > a:active, .col-lg-3 .megamenu .submenu_title > a.active {
  color: #ffa427; }
aside .megamenu .submenu_title + ul li.sfHover > a, aside .megamenu .submenu_title + ul li > a:hover, aside .megamenu .submenu_title + ul li > a:focus, aside .megamenu .submenu_title + ul li > a:active, aside .megamenu .submenu_title + ul li > a.active, .column-left .megamenu .submenu_title + ul li.sfHover > a, .column-left .megamenu .submenu_title + ul li > a:hover, .column-left .megamenu .submenu_title + ul li > a:focus, .column-left .megamenu .submenu_title + ul li > a:active, .column-left .megamenu .submenu_title + ul li > a.active, .col-lg-3 .megamenu .submenu_title + ul li.sfHover > a, .col-lg-3 .megamenu .submenu_title + ul li > a:hover, .col-lg-3 .megamenu .submenu_title + ul li > a:focus, .col-lg-3 .megamenu .submenu_title + ul li > a:active, .col-lg-3 .megamenu .submenu_title + ul li > a.active {
  color: #ffa427; }
aside .megamenu .sf-menu > li > a, aside .megamenu .sf-menu > li > span, .column-left .megamenu .sf-menu > li > a, .column-left .megamenu .sf-menu > li > span, .col-lg-3 .megamenu .sf-menu > li > a, .col-lg-3 .megamenu .sf-menu > li > span {
  background: #ffa427; }
aside .megamenu .sf-menu > li.sfHover > a, aside .megamenu .sf-menu > li > a:hover, aside .megamenu .sf-menu > li > a.active, .column-left .megamenu .sf-menu > li.sfHover > a, .column-left .megamenu .sf-menu > li > a:hover, .column-left .megamenu .sf-menu > li > a.active, .col-lg-3 .megamenu .sf-menu > li.sfHover > a, .col-lg-3 .megamenu .sf-menu > li > a:hover, .col-lg-3 .megamenu .sf-menu > li > a.active {
  color: #000; }
aside .megamenu li li > a, aside .megamenu .sf-menu .sf-mega li > a, .column-left .megamenu li li > a, .column-left .megamenu .sf-menu .sf-mega li > a, .col-lg-3 .megamenu li li > a, .col-lg-3 .megamenu .sf-menu .sf-mega li > a {
  color: #2f2f2f; }
aside .megamenu li li.sfHover > a, aside .megamenu li li > a:hover, aside .megamenu li li > a.active, aside .megamenu .sf-menu .sf-mega li.sfHover > a, aside .megamenu .sf-menu .sf-mega li > a:hover, aside .megamenu .sf-menu .sf-mega li > a.active, .column-left .megamenu li li.sfHover > a, .column-left .megamenu li li > a:hover, .column-left .megamenu li li > a.active, .column-left .megamenu .sf-menu .sf-mega li.sfHover > a, .column-left .megamenu .sf-menu .sf-mega li > a:hover, .column-left .megamenu .sf-menu .sf-mega li > a.active, .col-lg-3 .megamenu li li.sfHover > a, .col-lg-3 .megamenu li li > a:hover, .col-lg-3 .megamenu li li > a.active, .col-lg-3 .megamenu .sf-menu .sf-mega li.sfHover > a, .col-lg-3 .megamenu .sf-menu .sf-mega li > a:hover, .col-lg-3 .megamenu .sf-menu .sf-mega li > a.active {
  color: #ffa427; }

.sf-menu .sf-mega {
  background-color: #ffa427; }

.search button {
  color: #ff7a08; }
  .search button:focus, .search button:active {
    color: #ff7a08; }
  .search button:hover, .search button:focus:hover, .search button:active:hover {
    color: #dbcc4c; }

#livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
  background-color: #ffa427; }

.sbOptions li a:hover {
  color: #ffa427; }

.swiper-container:before {
  background: #ffefca;
  background-image: linear-gradient(90deg, #ffefca, #ffefca 31.3%, #ffdd79 31.3%, #ffdd79 71.2%, #ffd418 71.2%, #ffd418); }

.option-color .radio input[type="radio"]:checked + label:after {
  border-color: #ffa427; }

.product-btn:hover, .product-btn:focus, .product-btn:active {
  color: #ffa427; }
  .product-btn:hover i, .product-btn:focus i, .product-btn:active i {
    color: #ffa427; }

.swiper-slide .desc b {
  color: #ffa427; }

.swiper-pagination-bullet-active {
  border-color: #ff9f41; }

.banners > div[class*="banner-top-"] > div {
  background: #79cf58; }
.banners > div[class*="banner-top-"]:nth-child(2n) > div {
  background: #ffa427; }
.banners > div[class*="banner-top-"]:nth-child(3n) > div {
  background: #84b233; }

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #ffa427; }

.product_tabs .nav-tabs > li.active > a, .product_tabs .nav-tabs > li > a:hover {
  color: #ffa427; }

.price {
  color: #ffa427; }

.price-new {
  color: #79cf58; }

/*header:before {
  background-color: #dbcc4c; }*/

.cart > button i {
  color: #ff7a08; }
.cart > button:hover, .cart > button.active {
  color: #ffa427; }

.box-language .btn-group span:hover, .box-language .btn-group span:focus, .box-language .btn-group span:active, .box-language .btn-group span.sfHover, .box-currency .btn-group span:hover, .box-currency .btn-group span:focus, .box-currency .btn-group span:active, .box-currency .btn-group span.sfHover {
  color: #ffa427; }
.box-language .toggle_cont li button:hover, .box-language .toggle_cont li button:focus, .box-language .toggle_cont li button:active, .box-language .toggle_cont li button.selected, .box-language .toggle_cont li a:hover, .box-language .toggle_cont li a:focus, .box-language .toggle_cont li a:active, .box-language .toggle_cont li a.selected, .box-currency .toggle_cont li button:hover, .box-currency .toggle_cont li button:focus, .box-currency .toggle_cont li button:active, .box-currency .toggle_cont li button.selected, .box-currency .toggle_cont li a:hover, .box-currency .toggle_cont li a:focus, .box-currency .toggle_cont li a:active, .box-currency .toggle_cont li a.selected {
  color: #ffa427; }

.social-block a:hover {
  color: #ffa427; }

.header-top-block a {
  color: #fff; }
  .header-top-block a:visited {
    color: #fff; }
  .header-top-block a:hover, .header-top-block a:focus, .header-top-block a:active {
    color: #ffa427; }

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #ffa427;
  border-color: #ffa427; }

.btn, .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  background: #dbcc4c; }
  .btn:visited, .btn-default:visited, .btn-primary:visited, .btn-success:visited, .btn-info:visited, .btn-warning:visited, .btn-danger:visited {
    background: #dbcc4c; }
  .btn:hover, .btn:focus, .btn:active, .btn:visited:hover, .btn:focus:active, .btn:active:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:visited:hover, .btn-default:focus:active, .btn-default:active:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited:hover, .btn-primary:focus:active, .btn-primary:active:focus, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:visited:hover, .btn-success:focus:active, .btn-success:active:focus, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:visited:hover, .btn-info:focus:active, .btn-info:active:focus, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited:hover, .btn-warning:focus:active, .btn-warning:active:focus, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:visited:hover, .btn-danger:focus:active, .btn-danger:active:focus {
    background: #79cf58; }

.btn-primary {
  background: #ffa427; }
  .btn-primary:visited {
    background: #ffa427; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited:hover, .btn-primary:focus:active, .btn-primary:active:focus {
    background: #79cf58; }

.btn-icon {
  background: rgba(255, 164, 39, 0.5); }
  .btn-icon:visited {
    background: rgba(255, 164, 39, 0.5); }
  .btn-icon:hover, .btn-icon:focus, .btn-icon:active {
    background: rgba(121, 207, 88, 0.5); }

.btn-add {
  background: #ffa427; }
  .btn-add:visited {
    background: #ffa427; }
  .btn-add:hover, .btn-add:focus, .btn-add:active {
    background: #79cf58; }

input[type="radio"]:checked + label:after {
  background-color: #ffa427; }

input[type="checkbox"] + label:after,
.count-box strong,
.testimonials blockquote:before,
.terms_conditions_page h4:before,
.contact_page .icon:before,
aside #blog-search a:hover,
.link, .link:focus, .link:visited,
.agree:hover b,
.checkout-checkout #content .table-responsive .table tfoot tr:last-child td:last-child,
#style_switcher .toggler:hover,
h1 i,
.price-tx {
  color: #ffa427; }

.link:hover {
  color: #2f2f2f; }

.price b {
  color: #79cf58; }

.sale, .discount, .new-pr {
  background: #79cf58; }

.new-pr {
  background: #ffa427; }

.counter:hover, .counter:focus:hover {
  color: #ffa427; }

.ajax-quickview-images .next-img,
.ajax-quickview-images .prev-img {
  background: rgba(255, 164, 39, 0.6); }
  .ajax-quickview-images .next-img:hover,
  .ajax-quickview-images .prev-img:hover {
    color: #fff;
    background: #ffa427; }

.banners > div .banner-box {
  background: #ffa427; }
.banners > div.col-sm-4.banner-big .banner-box {
  background: #82b233; }

.html-module.home-links .third.plane a {
  background: #ffdd79; }
.html-module.home-links .third.rocket a {
  background: #ffd418; }
.html-module.home-links .third.like a {
  background: #dbcc4c; }

.article-title a:hover, .article-title a:active, .article-title a:focus {
  color: #ffa427; }

.article-date a:hover, .article-comments a:hover, .article-author a:hover {
  color: #ffa427; }

footer a:hover {
  color: #ffa427; }
footer .megamenu ul.sf-menu > li > a:hover, footer .megamenu ul.sf-menu > li > a:focus, footer .megamenu ul.sf-menu > li > a:active, footer .megamenu ul.sf-menu > li > a.active {
  color: #ffa427; }
footer .megamenu ul.sf-menu > li.active > a, footer .megamenu ul.sf-menu > li a:hover, footer .megamenu ul.sf-menu > li a.active {
  color: #ffa427; }

.newsletter button {
  color: #ffa427; }

.copyright a:hover {
  color: #ffa427; }

.ui-to-top:focus, .ui-to-top:hover {
  color: #ffa427; }
.ui-to-top:hover {
  color: #ffa427;
  border-color: #ffa427; }

div.mfilter-content-opts .mfilter-options .mfilter-search #mfilter-opts-search_button {
  color: #dbcc4c; }
  div.mfilter-content-opts .mfilter-options .mfilter-search #mfilter-opts-search_button:hover {
    color: #ffa427; }
div.mfilter-content-opts .mfilter-options .mfilter-price .mfilter-slider-slider .ui-slider-range, div.mfilter-content-opts .mfilter-options .mfilter-price #mfilter-price-slider .ui-slider-range {
  background: #ffa427 !important; }
div.mfilter-content-opts .mfilter-options .mfilter-price .mfilter-slider-slider .ui-slider-handle, div.mfilter-content-opts .mfilter-options .mfilter-price #mfilter-price-slider .ui-slider-handle {
  background: #ffa427 !important; }

div.mfilter-heading .mfilter-head-icon:hover {
  color: #ffa427; }

.mfilter-option > div input[type="checkbox"]:checked:before {
  background: #ffa427;
  border-color: #ffa427; }

.iScrollIndicator {
  background-color: #ffa427 !important; }

#list-view:hover,
#grid-view:hover,
#list-view.active,
#grid-view.active {
  color: #ffa427; }

.button-view .compare-total:hover, .button-view .compare-total:focus, .button-view .compare-total:active {
  color: #ffa427; }

.owl-carousel .owl-nav div {
  background: rgba(255, 164, 39, 0.6); }
  .owl-carousel .owl-nav div:hover {
    background: #ffa427; }

.sbToggle:hover {
  color: #ffa427; }

.cart .toggle_cont strong, .cart .toggle_cont b {
  color: #79cf58; }

.box-cart .btn-danger:hover, .box-cart .btn-danger:focus:hover {
  color: #ffa427; }

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #ffa427; }
.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus, .pagination > li.active > span, .pagination > li.active > span:hover, .pagination > li.active > span:focus {
  color: #ffa427; }

.product-gallery .image-thumb .bx-wrapper .bx-prev, .product-gallery .image-thumb .bx-wrapper .bx-next {
  color: #fff;
  background: rgba(255, 164, 39, 0.6); }
  .product-gallery .image-thumb .bx-wrapper .bx-prev:hover, .product-gallery .image-thumb .bx-wrapper .bx-next:hover {
    color: #fff;
    background: #ffa427; }

.general_info a:hover, .product-rating-status .review-link-show a:hover {
  color: #ffa427; }

.icon-box i,
.privacy_page ol li h4:before {
  background-color: #ffa427; }

.contact_page .icon:before {
  border-color: #ffa427; }

.thumbnail a:hover {
  border-color: #ffa427; }

.datepicker .prev:hover, .datepicker .prev.active, .datepicker .next:hover, .datepicker .next.active, .datepicker .day:hover, .datepicker .day.active, .datepicker .year:hover, .datepicker .year.active, .datepicker .month:hover, .datepicker .month.active, .datepicker .picker-switch:hover, .datepicker .picker-switch.active {
  color: #ffa427; }

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td span:hover {
  color: #ffa427; }
.bootstrap-datetimepicker-widget td.day.active, .bootstrap-datetimepicker-widget td.day.active:hover,
.bootstrap-datetimepicker-widget td.minute.active,
.bootstrap-datetimepicker-widget td.minute.active:hover,
.bootstrap-datetimepicker-widget td.hour.active,
.bootstrap-datetimepicker-widget td.hour.active:hover,
.bootstrap-datetimepicker-widget td.second.active,
.bootstrap-datetimepicker-widget td.second.active:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th.active,
.bootstrap-datetimepicker-widget thead tr:first-child th.active:hover,
.bootstrap-datetimepicker-widget td span.active,
.bootstrap-datetimepicker-widget td span.active:hover {
  color: #fff;
  background-color: #ffa427; }
.bootstrap-datetimepicker-widget a[data-action]:hover,
.bootstrap-datetimepicker-widget .timepicker td > span:hover {
  color: #ffa427; }

.common-home .article-image:before, .common-home .article-image:after {
  background: #ffa427; }
.common-home .article-image a:before, .common-home .article-image a:after {
  background: #ffa427; }

aside .blog-categories ul > li > a:hover {
  background: #ffcf8d; }

.breadcrumb a:hover {
  color: #ffa427; }
  .breadcrumb a:hover i {
    color: #ffa427; }

.article-comment .reply-message a:hover {
  color: #ffa427; }

.site-map-page #content ul.category-list:before {
  background: #ffa427; }
.site-map-page #content ul.category-list > li:before, .site-map-page #content ul.category-list > li:after {
  background: #ffa427; }
